.cellsContainer {
    display: flex;
    flex-direction: column;
    text-align: end;
    vertical-align: center;
}
.cellsRow {
    width: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 3px;
    margin-top: 3px;
}