body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cellsContainer {
  width: 210px;
  box-shadow: 0 0 5px 1px rgb(0.0.0.0) ;
  display: flex;
  flex-direction: column;
}
.cellsRow {
  width: 150px;
  height: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 3px;
}

.cellsValues {
  text-align: start;
  width: 100px;
}
.space {
  width: 10px;
  height: 11px;
}
